In [26]:
import os 
import pandas as pd

# read excels and concat dataframe
xls = os.listdir("data")
dfs = []
for i in xls:
    df = pd.read_excel(f"data/{i}", index_col=0, dtype={"code": str})
    dfs.append(df)
df = pd.concat(dfs)


# filter
cap_bound = df.sort_values(by='cap').iloc[20]['cap']
cond = df['day'] == "12월 결산"
df = df[cond]

# screening
cond = (df['gp/a'] >0) & (df['pbr'] > 0)
df2 = df[cond].copy()


df2['rank1'] = df2['gp/a'].rank(ascending=False)    # gp/a는 높으면 1등
df2['rank2'] = df2['pbr'].rank()                    # pbr는 낮은면 1등 
df2['rank'] = df2['rank1'] + df2['rank2']
df2.set_index('code', inplace=True)

In [27]:
cap_bound

7000000000.0

In [28]:
df3 = df2.sort_values(by='rank')

In [29]:
cond = df3['cap'] < cap_bound
df3[cond].head(n=30)

           name     day      gp/a   pbr           cap   rank1   rank2    rank
code
267810       앙츠  12월 결산  0.807453  0.87  2.400000e+09    35.0   622.5   657.5
215050  비엔디생활건강  12월 결산  0.316206  0.66  3.900000e+09   328.0   406.0   734.0
140660      위월드  12월 결산  0.180000  0.74  4.200000e+09   764.0   494.5  1258.5
245450   씨앤에스링크  12월 결산  0.570000  2.45  3.600000e+09   104.0  1469.0  1573.0
288490    나라소프트  12월 결산  0.290598  1.78  4.900000e+09   380.0  1203.0  1583.0
308700      테크엔  12월 결산  0.191358  1.87  4.900000e+09   693.0  1239.5  1932.5
116100     태양기계  12월 결산  0.056848  0.41  4.600000e+09  1796.0   137.0  1933.0
093510   엔지브이아이  12월 결산  0.140351  1.53  3.300000e+09  1052.0  1067.5  2119.5
114920    대주이엔티  12월 결산  0.074074  1.10  3.900000e+09  1644.5   786.0  2430.5